<div class="container">
  
  <img src="<%=  image_path("mmcLogo.png") %>"  class="logo"width="10%" height="10%"/>
      <form class="form-search" action="get_movie" method="get">
        <input type="text" class="input-medium search-query" id="searchform-home" name="search" >
      </form>
      
   
  
</div>  